.royal-care-boys {
    position: absolute;
    top: 146px;
    left: 685px;
    font-size: 60px;
    line-height: 67.2px;
    font-family: var(--font-ntr);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 549px;
    height: 67px;
  }
  .get-directions,
  .link-contact {
    position: absolute;
    top: 22px;
    left: 1811px;
    line-height: 24px;
  }
  .get-directions {
    left: 1592px;
    text-transform: capitalize;
  }
  .vector-icon {
    position: absolute;
    height: 1.85%;
    width: 0.89%;
    top: 2.22%;
    right: 17.08%;
    bottom: 95.93%;
    left: 82.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .link-gallery,
  .link-gallery1 {
    position: absolute;
    top: 22px;
    left: 1732px;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 67px;
  }
  .link-gallery1 {
    left: 1428px;
    width: 133px;
  }
  .af1qipnmjwwqrjdr0ek-lgucdu3rpm-icon {
    position: absolute;
    width: calc(100% - 840px);
    top: 295px;
    right: 420px;
    left: 420px;
    max-width: 100%;
    overflow: hidden;
    height: 608px;
    object-fit: cover;
  }
  .link-royal {
    position: absolute;
    top: 17px;
    left: 41px;
    font-size: 22px;
    font-family: var(--font-ntr);
  }
  .frame1 {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-anzac);
    font-family: var(--font-roboto);
  }
  .separator {
    position: absolute;
    height: calc(100% - 352px);
    top: 112px;
    bottom: 240px;
    left: calc(50% - 40px);
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 80px;
    overflow: hidden;
  }
  .walking-distance-to {
    position: flex;
    line-height: 38px;
    text-transform: uppercase;
    display: inline-block;
    max-width: 940px;
  }
  .divlead-summary-content,
  .heading-2 {
    position: absolute;
    width: calc(150%);
  }
  .heading-2 {
    height: calc(100% - 330px);
    top: 150px;
    right: 107px;
    bottom: 280px;
    left: -25.08%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-0) 286.9000244140625px var(--padding-0)
      287.0999755859375px;
    box-sizing: border-box;
  }
  .divlead-summary-content {
    top: 210px;
    right: 120px;
    left: 120px;
  }
  .divdlg3sd {
    position: absolute;
    top: 364px;
    left: 445px;
    width: 1080px;
    height: 354px;
  }
  .divdlg3sd-wrapper {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .gallery {
    position: absolute;
    top: 58px;
    left: calc(50% - 92px);
    line-height: 24px;
    text-transform: uppercase;
  }
  .separator1 {
    position: absolute;
    height: calc(100% - 1079.3px);
    top: 29px;
    bottom: 1050.3px;
    left: calc(50% - 26px);
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 52px;
    overflow: hidden;
  }
  .frame-child {
    position: absolute;
    top: 158px;
    left: 283px;
    background-color: var(--color-gainsboro-100);
    width: 1337px;
    height: 821px;
  }
  .af1qipnw2zjr2eo0xs-stfry-rfgo9-icon {
    position: absolute;
    width: calc(100% - 1585.9px);
    top: 577px;
    right: 1302.9px;
    left: 283px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 360px;
    object-fit: cover;
  }
  .af1qipnjbnxsfzzgqveufdztg527xr-icon,
  .af1qippletrm6jf67uflyktjlfmcmh-icon {
    position: absolute;
    top: 158px;
    border-radius: var(--br-21xl);
    height: 360px;
    object-fit: cover;
  }
  .af1qippletrm6jf67uflyktjlfmcmh-icon {
    width: calc(100% - 1585.9px);
    right: 1302.9px;
    left: 283px;
    max-width: 100%;
    overflow: hidden;
  }
  .af1qipnjbnxsfzzgqveufdztg527xr-icon {
    left: 618px;
    width: 334.1px;
  }
  .af1qipoa0phcdfp7xqu2rputeyelfk-icon {
    top: 158px;
    left: 952px;
    width: 334.1px;
  }
  .af1qipoa0phcdfp7xqu2rputeyelfk-icon,
  .af1qippmi09ii-aoxvaxqirc8-zjyb-icon,
  .af1qippw6cmw-qriyjwa0vvskbzjxl-icon {
    position: absolute;
    border-radius: var(--br-21xl);
    height: 360px;
    object-fit: cover;
  }
  .af1qippw6cmw-qriyjwa0vvskbzjxl-icon {
    width: calc(100% - 1585.9px);
    top: 158px;
    right: 299.9px;
    left: 1286px;
    max-width: 100%;
    overflow: hidden;
  }
  .af1qippmi09ii-aoxvaxqirc8-zjyb-icon {
    top: 577px;
    left: 618px;
    width: 334.1px;
  }
  .af1qipmam5c0qxg9xfkmcfottshbp1-icon,
  .af1qipoggxctc1kpk1ekeep7dvq0u8-icon {
    position: absolute;
    width: calc(100% - 1585.9px);
    top: 577px;
    right: 625.9px;
    left: 960px;
    border-radius: var(--br-21xl);
    max-width: 100%;
    overflow: hidden;
    height: 360px;
    object-fit: cover;
  }
  .af1qipmam5c0qxg9xfkmcfottshbp1-icon {
    right: 299.9px;
    left: 1286px;
  }
  .gallery-parent {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
  }
  .separator2 {
    position: absolute;
    height: calc(100% - 1079.3px);
    top: 30px;
    bottom: 1049.3px;
    left: calc(50% - 30px);
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 60px;
    overflow: hidden;
  }
  .fees-structure,
  .standard-room {
    position: absolute;
    line-height: 24px;
    text-transform: uppercase;
  }
  .fees-structure {
    top: 53px;
    left: 781px;
    color: var(--wwwphpscriptsonlinecom-cod-gray);
  }
  .standard-room {
    top: 185px;
    left: 98px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .frame-item {
    position: absolute;
    top: 364px;
    left: 158px;
    border-radius: var(--br-21xl);
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-anzac);
    width: 1247px;
    height: 448px;
  }
  .specious-room-with {
    position: absolute;
    top: 275px;
    left: 167px;
    font-size: var(--font-size-11xl);
    line-height: 18px;
    font-family: var(--font-inter);
  }
  .frame-inner {
    position: absolute;
    top: 393px;
    left: 198px;
    border-radius: var(--br-21xl);
    width: 1178px;
    height: 390px;
    object-fit: cover;
  }
  .separator3 {
    position: absolute;
    height: calc(100% - 1080.3px);
    top: 222px;
    bottom: 858.3px;
    left: 10%;
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 386px;
    overflow: hidden;
  }
  .separator-parent {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
  }
  .deluxe-room {
    position: absolute;
    top: 120px;
    left: 98px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .rectangle-div,
  .rectangle-icon {
    position: absolute;
    border-radius: var(--br-21xl);
  }
  .rectangle-div {
    top: 477px;
    left: 158px;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-anzac);
    width: 1247px;
    height: 448px;
  }
  .rectangle-icon {
    top: 506px;
    left: 198px;
    width: 1178px;
    height: 390px;
    object-fit: cover;
  }
  .blank-line {
    margin: 0;
  }
  .specious-room-with-container {
    position: absolute;
    top: 257px;
    left: 158px;
    font-size: var(--font-size-11xl);
    line-height: 18px;
    font-family: var(--font-inter);
  }
  .separator4 {
    position: absolute;
    height: calc(100% - 1080.3px);
    top: 160px;
    bottom: 920.3px;
    left: 10%;
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 388px;
    overflow: hidden;
  }
  .deluxe-room-parent {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-inherit);
    color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    font-family: var(--font-inherit);
  }
  .super-deluxe-room {
    margin: 0;
    padding-left: var(--padding-34xl);
  }
  .super-deluxe-room-container {
    position: absolute;
    top: 119px;
    left: 62px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .specious-room-with3 {
    position: absolute;
    top: 268px;
    left: 158px;
    font-size: var(--font-size-13xl);
    line-height: 18px;
    font-family: var(--font-inter);
  }
  .separator5 {
    position: absolute;
    height: calc(100% - 1080.3px);
    top: 160px;
    bottom: 920.3px;
    left: 8.5%;
    border: 1px solid var(--royal-care-boys-hostel-boys-hostelbusinesssite-black);
    box-sizing: border-box;
    width: 460px;
    overflow: hidden;
  }
  .contact-us {
    position: absolute;
    top: 51px;
    left: 828px;
    font-size: var(--font-size-31xl);
    line-height: 24px;
    text-transform: uppercase;
    font-family: var(--font-ntr);
    text-align: center;
  }
  .contact {
    position: absolute;
    top: 795px;
    left: 283px;
    font-size: var(--font-size-6xl);
    line-height: 18.72px;
    font-family: var(--font-righteous);
    display: flex;
    align-items: center;
    width: 103px;
    height: 19px;
  }
  .call-now {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
  }
  .link {
    top: 834px;
    border-radius: var(--br-11xs);
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-anzac);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-35xl);
    color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
  }
  .div,
  .divqmbmre-icon,
  .link {
    position: absolute;
    left: 283px;
  }
  .div {
    top: 931px;
    font-size: 21px;
    line-height: 24px;
  }
  .divqmbmre-icon {
    width: calc(100% - 565px);
    top: 117px;
    right: 282px;
    max-width: 100%;
    overflow: hidden;
    height: 605px;
    object-fit: cover;
  }
  .address {
    position: absolute;
    top: 795px;
    left: 831px;
    font-size: var(--font-size-6xl);
    line-height: 18.72px;
    font-family: var(--font-righteous);
    display: flex;
    align-items: center;
    width: 105px;
    height: 19px;
  }
  .get-directions1 {
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }
  .link1 {
    position: absolute;
    top: 827px;
    left: 831px;
    border-radius: var(--br-11xs);
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-anzac);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) 53.1300048828125px var(--padding-lg)
      var(--padding-35xl);
    color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
  }
  .off-charusat-university-container {
    position: relative;
    line-height: 24px;
    display: inline-block;
    max-width: 324px;
  }
  .div1,
  .div2,
  .div3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-0) 3px var(--padding-0) var(--padding-0);
  }
  .div2,
  .div3 {
    padding: var(--padding-0) 153px var(--padding-0) var(--padding-0);
  }
  .div3 {
    padding: var(--padding-0) 289px var(--padding-0) var(--padding-0);
  }
  .address1,
  .business-hours {
    position: absolute;
    display: flex;
  }
  .address1 {
    top: 910px;
    left: 831px;
    width: 324px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .business-hours {
    top: 795px;
    left: 1379px;
    font-size: var(--font-size-6xl);
    line-height: 18.72px;
    font-family: var(--font-righteous);
    align-items: center;
    width: 181px;
    height: 19px;
  }
  .cell-mon {
    position: relative;
    line-height: 24px;
  }
  .data,
  .row {
    display: flex;
    justify-content: flex-start;
  }
  .data {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 16.089996337890625px var(--padding-12xs)
      var(--padding-5xs);
  }
  .row {
    gap: var(--gap-10xs-8);
  }
  .row,
  .row1,
  .row3 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-0) 0.000003814697265625px var(--padding-0)
      var(--padding-12xs);
  }
  .row1 {
    display: flex;
    justify-content: flex-start;
    gap: 8.8px;
  }
  .row3 {
    gap: var(--gap-6xs-8);
  }
  .data5,
  .row3,
  .row4,
  .row5 {
    display: flex;
    justify-content: flex-start;
  }
  .row4 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-0) 0.000003814697265625px var(--padding-0)
      var(--padding-12xs);
    gap: 16.8px;
  }
  .data5,
  .row5 {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-12xs) 7.089996337890625px var(--padding-12xs)
      var(--padding-5xs);
  }
  .row5 {
    flex-direction: row;
    align-items: center;
    padding: var(--padding-0) 0.000003814697265625px var(--padding-0)
      var(--padding-12xs);
    gap: 10.8px;
  }
  .body,
  .data6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .data6 {
    justify-content: flex-start;
    padding: var(--padding-12xs) 107.08999633789062px var(--padding-12xs)
      var(--padding-5xs);
  }
  .body {
    position: absolute;
    top: calc(50% + 300.35px);
    left: 1379px;
    justify-content: center;
    gap: 2px;
  }
  .contact-us-parent {
    position: relative;
    background-color: var(--royal-care-boys-hostel-boys-hostelbusinesssite-nero);
    width: 1920px;
    height: 1081.3px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-base);
    font-family: var(--font-roboto);
  }
  .frame1-parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-31xl);
    color: var(--wwwphpscriptsonlinecom-cod-gray);
    font-family: var(--font-ntr);
  }